<div id="wrapper"> 
    <!--Header-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <header class="clearfix">
                    <div class="logo pull-left"><a href="#"><img src="images/logo.png" alt=""></a></div>
                    <div class="menu pull-right">
                        <ul>
                            <li class="active"><a href="#">Insight <i class="fa fa-angle-down"></i></a></li>
                            <li><a href="#/team" >Team</a></li>
                            <li><a href="#/settings" >Settings</a></li>
                            <li><a href="" ng-click="sign_out()">Signout</a></li>
                        </ul>
                    </div>
                </header>
                <div class="header-bottom clearfix">
                    <div class="navigation-menu">
                        <ul>
                            <li><a href="#"><img src="images/left-arrow.png" alt=""></a></li>
                            <li>Add Client</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        
        <form class="form-space" ng-submit="add_client()">
            <div class="group">
                <input name="client-name" type="text" required ng-model="name">
                <label>Client Name *</label>
            </div>
            <div class="group">
                <input type="text" name="client-industry" required ng-model="industry">
                <label>Client Industry *</label>
            </div>
            <div class="group">
                <input type="text" name="client-location" value="" ng-model="location">
                <label>Client Location</label>
            </div>
            <div class="group">
                <select name="client-size" ng-model="size" required>
                    <option value="">Client Size</option>
                    <option value="mobile_app">Mobile App</option>
                    <option value="web_app">Web App</option>
                    <option value="website_production">Website Production</option>
                </select>
            </div>
            <div class="group-btn" style="text-align:left;">
                <input type="submit" class="btn" value="Add Client">
                <input type="reset" class="btn-cancel" value="Cancel">
            </div>
        </form>
        
        
    </div>
</div>
<footer>
    <div class="container clearfix"> <a href="#" class="pull-left">Tell us what you think</a>
        <div class="copyright pull-right">Copyright 2016. All Rights Reserved.</div>
    </div>
</footer>

<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>

