<div id="wrapper"> 
    <!--Header-->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <header class="clearfix">
                        <div class="logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
    	<div class="signup-container">
        	<h2>Setting your password</h2>
            
            <div ng-show="errors.length > 0" class="error-container">
                <p ng-repeat="error in errors">
                    {{ error }}
                </p>
            </div>
        
            <form ng-submit="update_member()">
                <div class="group">
                    <input name="email-txt" type="text" class="used" required ng-model="email" disabled>
                    <label>Your Email *</label>
                </div>
                <div class="group">
                    <input type="password" name="password" required ng-model="password">
                    <label>Password *</label>
                </div>
                <div class="group">
                    <input type="password" name="confirm-password" required ng-model="password_confirmation">
                    <label>Confirm Password *</label>
                </div>
                <div class="group-btn" style="text-align:left;">
                    <input type="submit" class="btn" value="Update">
                </div>
            </form>
        </div>
        
    </div>
</div>
<footer>
    <div class="container clearfix"> <a href="#" class="pull-left">Tell us what you think</a>
        <div class="copyright pull-right">Copyright 2016. All Rights Reserved.</div>
    </div>
</footer>

<script src="js/custom.js"></script>
<script>
	$(document).ready(function(e) {
    
    });
</script>


